.h1 {
    color: #00ffff;
}

.h2 {
    color: #ff0000;
}

.h3 {
    color: #0000ff;
}

.h4 {
    color: #a52a2a;
}

.h5 {
    color: #7fff00;
}

.h6 {
    color: #6495ed;
}

.header-container > * {
    counter-reset: none;
}